*.TopVoxel
*.obj
*.txt
*.vtk
*.mesh
*.msh
*.ply
*.mat
*.dat
*.MiniFEM
*.topopti
*.nii
*.ele
*.edge
*.face
*.node

# Ignore External Repositories
/external/VolumetricTruss-master/
/external/gptoolbox-master/
*.stress
*.smesh
