*.TopVoxel
*.obj
*.txt
*.vtk
*.mesh
*.msh
*.ply
*.mat
*.dat
*.MiniFEM
*.topopti
*.nii
*.ele
*.edge
*.face
*.node
*.stress
*.smesh
*.out
*.zip

# Ignore External Module Repositories
/externalModules/VolumetricTruss-master/
/externalModules/gptoolbox-master/